.details-page {
    width: 85%;
    padding: 3%;
}

.details-main {
    padding-top: 2%;
    display: flex;
}

.main-sub-1 {
    width: 40%;

}

.main-sub-2 {
    width: 40%;
    padding: 3%;
    margin-left: 5%;

}

.img-div {
    width: 100%;
}

.detail-img {
    width: 100%;
}

.details1 {
    display: flex;
    width: 100%;
    margin-bottom: 2%;
    p {
        width: 40%;
    }
}

.details2 {
    width: 100%;
    font-size: small;
    margin-bottom: 5%;
}

.details2-1 {
    display: flex;
    width: 100%;
    p {
        width: 40%;
    }
}

.color-div {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    float: left;
    margin-right: 10px;
}